*.retry
.ansible/
.venv/
*.pyc
__pycache__/
.vault_pass
.lakehouse-vault-pass
inventories/prod/group_vars/all/vault.yml
artifacts/*.tar
artifacts/*.tgz
artifacts/*.tar.gz
artifacts/stage/
artifacts/build/
*.keytab
*.jks
*.p12
*.pem
!files/pki/.gitkeep
reports/preflight-*.md
reports/junit/
.molecule/
*.log
.DS_Store
collections/ansible_collections/community/
collections/ansible_collections/ansible/
collections/ansible_collections/containers/
