[defaults]
inventory = inventories/prod/hosts.yml
collections_path = ./collections:~/.ansible/collections
roles_path = ./collections/ansible_collections/alephys/lakehouse/roles
interpreter_python = auto_silent
forks = 10
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 86400
retry_files_enabled = false
private_key_file = ~/.ssh/lakehouse_ed25519
host_key_checking = true
stdout_callback = default
bin_ansible_callbacks = true
timeout = 30
vault_password_file = ~/.lakehouse-vault-pass
any_errors_fatal = true
localhost_warning = false

[privilege_escalation]
become = true
become_method = sudo
become_user = root

[ssh_connection]
pipelining = true
timeout = 30
control_path_dir = .ansible/cp
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
